.secondary-view {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-self: center;

  @include respond(tab-port) {
    display: block;
  }

  &__circle {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url(../../assets/pic.jpg);
    background-position: center center;
    background-size: contain;
    border-radius: 50%;
    top: 0%;
    left: calc(50% - 50px);
    transition: 0.3s;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__title {
    width: 45%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @extend .animated;

    @include respond(tab-port) {
      width: 0%;
      padding: $spacing-xxs 0;
    }

    h2 {
      margin: 0;
      padding: 12rem 0 0 0;

      @include respond(tab-port) {
        padding: 0rem 0 0 0;
        font-size: 3rem;
      }

      @include respond(big-desktop) {
        padding: 22rem 0 0 0;
        font-size: 8rem;
      }
    }
  }

  &__content {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    &--inner {
      width: 100%;
      padding: 0 4rem 0 6rem;

      @include respond(tab-port) {
        padding: 0 $spacing-normal;
      }

      p {
        padding: $spacing-normal 0;
        color: $text-color;

        @include respond(tab-port) {
          padding: $spacing-xxs 0;
        }
      }
    }

    @include respond(tab-port) {
      width: 100%;
      height: 100%;
    }
  }

  &__card-box {
    padding: $spacing-xl 0 0 0;

    @include respond(tab-port) {
      padding: $spacing-xs 0 0 0;
    }
  }

  &__list-box {
    list-style: none;
    padding: 0;
  }

  &__buttons {
    display: flex;
    padding: $spacing-m 0;

    @include respond(tab-port) {
      display: block;
      padding: 0 0;
    }

    .button {
      margin-right: $spacing-normal;

      @include respond(tab-port) {
        width: 100%;
        margin: $spacing-xxs 0;
      }
    }
  }

  &--light {
    h2 {
      color: $white;
    }
    .secondary-view__title {
      background-color: $main-color;
    }
  }

  &--dark {
    .secondary-view__title {
      background-color: $white;
    }

    a {
      color: $main-color;
    }

    li {
      &:after {
        color: $main-color;
      }
    }
  }
}

#Contact {
  .secondary-view__title {
    background-color: $black;

    @include respond(tab-port) {
      margin-top: $spacing-normal * 1.5;
    }
  }
}

#Experience {
  .secondary-view__content {
    background-image: url(../../assets/software-development-code.gif);
    position: relative;

    @include respond(big-desktop) {
      background-size: cover;
    }

    @include respond(tab-port) {
      background-size: cover;
    }
  }

  .secondary-view__title {
    @include respond(tab-port) {
      background-color: rgba($color: $gray, $alpha: 0.4);
      margin-top: $spacing-normal;
    }
  }

  .secondary-view {
    &__content {
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        filter: opacity(0.4);
      }

      &--inner {
        z-index: 1;

        p {
          color: $white;

          @include respond(tab-port) {
            font-size: 0.75rem;
          }
        }
      }
    }

    &__buttons {
      button {
        color: $white;
        border: 1px solid $white;
        &:before {
          background-color: $white;
        }
        &:hover {
          color: $main-color;
          &:before {
            background-color: $white;
          }
        }
      }

      @include respond(tab-port) {
        margin: $spacing-normal 0;
      }
    }
  }
}

.effect {
  .user-pic {
    width: 120px;
    height: 120px;
    left: calc(50% - 60px);
    top: 10%;
    @extend .animated;

    @include respond(big-desktop) {
      width: 160px;
      height: 160px;
      left: calc(50% - 80px);
    }
  }

  .secondary-view {
    &__title {
      width: 50%;
      @extend .animated;

      @include respond(tab-port) {
        width: 100%;
      }
    }
  }
}
