.button {
    border: 1px solid $main-color;
    padding: $spacing-xs $spacing-normal;
    background-color: transparent;
    color: $main-color;
    font-family: $roboto-mono;
    font-size: $fs-xs;
    letter-spacing: 1px;
    position: relative;
    z-index: 1;
    transition: 0.5s;
    min-width: 10rem;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: $main-color;
        pointer-events: none;
        z-index: -1;
        @extend .animated;
    }

    &:hover{
        cursor: pointer;
        color: white;
        @extend .animated;
        &:before{
            width: 100%;
        }
    }


}