.main-view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @include respond(tab-port) {
        letter-spacing: 4px;
        font-size: $fs-xs;
        justify-content:flex-start;
        position: relative;
    }

    h3{
        letter-spacing: $spacing-normal;
        margin-top: $spacing-normal * 2;

        @include respond(tab-port) {
            letter-spacing: 4px;
            font-size: 0.7rem;
        }
    }

    h1{
        position: relative;
        z-index: 1;

        @include respond(tab-port) {
            letter-spacing: 0px;
            font-size: 2.1rem;

            position: absolute;
            top: calc(50% - 1rem);
        }

        @include respond(big-desktop) {
            letter-spacing: 4px;
            font-size: 6rem;
        }

        &:before {
            content: '';
            position: absolute;
            width: 0rem;
            height: 0rem;
            top: 50%;
            right: 50%;
            transform: translate(50%,-50%);
            border-radius: 50%;
            border: 2px dotted #acacac;
            z-index: -1;
            @extend %animated;

        }
    }

    &.bg-img{
        background-image: url(../../assets/main-pic.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center -20px;
        @extend %animated;
        filter: grayscale(100%);

        @include respond(tab-port) {
            background-size: 200%;
            background-position: center center;
        }
    }

    &.effect{
        filter:unset ;
        @extend %animated;
        
        h1{
            &:before{
                width: 26rem;
                height: 26rem;
                @extend %animated;

                @include respond(tab-port) {
                    width: 16rem;
                    height: 16rem;
                }

                @include respond(big-desktop) {
                    width: 40rem;
                    height: 40rem;
                }
            }
        }
    }

}