body {
	margin: 0;
	position: relative;
	overflow-y: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@extend .animated;
	@include respond(tab-port) {
		overflow-y: unset;
	}
}

h1 {
	font-family: $damion;
	font-size: 5rem;
	color: $main-color;

	
	@include respond(tab-port) {
		font-size: 3rem;
	}
}

h2 {
	font-family: $damion;
	font-size: 6rem;
}

h3 {
	font-family: $roboto-mono;
	font-weight: 300;
	font-size: $fs-xs;
	color: $white;
}

a {
	text-decoration: none;

	&:link{
		color: unset;
	}

	&:visited {
		color: unset;
	}

	&:hover {
		color: $dark-ver-color;
		text-decoration: underline;
		font-weight: bold;
		transition: 0.4s;
	}
}

p {
	margin: 0;
	line-height: 1.4rem;
}




