.section-title {
    letter-spacing: -1px;
    vertical-align: middle;
    
    &.dark{
        color: $black;
    }

    &.light{
        color: $white;
    }
    strong {
        font-size: $fs-xl;
        font-weight: bold;
        padding: 0 0.2rem;
        font-family: $roboto;
        letter-spacing: 0.02rem;
    }
}