.one-page {
	&__home {
        background-color: #241d25;
    }
    
	&__about {
        background-color:$white;
    }
    
	&__experience {
        background-color:transparent;
    }
    
	&__contact {
        background-color:$white;
    }
    
    &--size{
        width: 100%;
        height: 100vh;

        @include respond(tab-port) {
            height: 100vh;
        }
    }

    .viewport-inner{
        height: 100%;

    }
}
