.one-page {
	&__home {
        background-color:$black;
    }
    
	&__about {
        background-color:$white;
    }
    
	&__experience {
        background-color:transparent;
    }
    
	&__contact {
        background-color:$white;
    }
    
    &--size{
        width: 100%;
        height: 100vh;
    }

    .viewport-inner{
        height: 100%;
    }
}
